$primaryColorWhite: white;
$primaryColorPurple: #b83aa1;
$primaryColorBlue: #4e62ed;
$primaryColorYellow: #fbdb00;
$primaryColorBrightYellow: #ffb122;
$primaryColorSeaGreen: #1e9e58;
$primaryColorDarkestGrey: #474747;
$primaryColorDarkGrey: #595959;
$primaryColorLightGrey: #bfbfbf;
$primaryColorLightestGrey: #f2f2f2;
